
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mert Güney - Admin</title>
    <!-- meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="X6k4CYxLvJ5EP5sDl6IZiQoxGnc1x_0jOKZ_-q1qytY" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Mert Güney Software Engineer Kişisel Web Sitesi, Yazılım Geliştirme, Web Sitesi Geliştirme, Masaüstü Uygulama Geliştme">
    <meta name="author" content="Mert Guney">
    <meta name="keywords" content="Mert,Güney,Mert Güney,Software Engineer,HTML,CSS,JAVA,C#,MVC5,Javascript">
    <!-- /meta tags -->
    <!-- custom style sheet -->
    <link href="~/weblogin/css/style.css" rel="stylesheet" type="text/css" />
    <!-- /custom style sheet -->
    <!-- fontawesome css -->
    <link href="~/weblogin/css/fontawesome-all.css" rel="stylesheet" />
    <!-- /fontawesome css -->
    <!-- google fonts-->
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- /google fonts-->
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-172492605-1');
    </script>

</head>


<body>
    <h1>Mert Güney</h1>
    <div class=" w3l-login-form">
        <h2>Giriş Yap</h2>
        @using (Html.BeginForm("Index", "GirisYap", FormMethod.Post))
        {
            <div class=" w3l-form-group">
                <label>Username:</label>
                <div class="group">
                    <i class="fas fa-user"></i>
                    <input type="text" class="form-control" placeholder="Username" required="required" name="kullaniciAdi" />
                </div>
            </div>
            <div class=" w3l-form-group">
                <label>Password:</label>
                <div class="group">
                    <i class="fas fa-unlock"></i>
                    <input type="password" class="form-control" placeholder="Password" required="required" name="sifre" />
                </div>
            </div>
            <button type="submit">Login</button>

        }
    </div>
    <footer>
        <p class="copyright-agileinfo"> &copy; 2020 Mert Güney<a href="#"></a></p>
    </footer>

</body>

</html>
